#tags {
    width: 100%;
    height: 100vh;
    background: #333 url('/themes/images/tags-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .tags-block {
        padding-top: 10rem;

        .tag-item {
            height: 6rem;
            opacity: 0.6;
            text-align: center;
            line-height: 5rem;
            transform: rotate(-10deg);
            font-weight: bold;
            box-shadow: 2px 1px 10px 5px #F2F2F2;
            -webkit-box-shadow: 2px 1px 10px 5px #F2F2F2;
            -moz-box-shadow: 2px 1px 10px 5px #F2F2F2;
            -o-box-shadow: 2px 1px 10px 5px #F2F2F2;
            float: left;
            a {
                text-decoration: none;
                color: #FFF;
            }

            .tag-border {
                height: 5rem;
                margin-top: 0.5rem;
                background: rgba(0, 0, 0, 0.3);
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}