#tags {
    width: 100%;
    height: 100vh;
    background: #333 url('/themes/images/tags-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .tag-block {
        padding-top: 5rem;

        .tag-item {
            height: 10rem;

            border-radius: 5px;

            &:hover {
                background-image:  linear-gradient(rgba(0, 138, 192, 0.90), rgba(0, 183, 255, 0.3));
            }

            a {
                text-decoration: none;
                color: #FFF;

                &:hover {
                    color: #222;
                    height: 100px;
                    font-weight: bold;
                    background: #FFF;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-radius: 5px;
                    clip-path: polygon(0 100%, 0 2%, 100% 0, 100% 100%, 48% 73%);
                }


            }
        }
    }
}