#tags {
    width: 100%;
    height: 100vh;
    background: #333 url('/themes/images/tags-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .page-header {
        padding-top: 8rem;
        color: #FFF;
        font-weight: bold;
        border-bottom: 1px solid #FFF;
    }
    .tag-block {
        margin-top: 1rem;
        .tag-item {
            height: 10rem;

            border-radius: 5px;

            &:hover {
                background-image:  linear-gradient(rgba(0, 138, 192, 0.90), rgba(0, 183, 255, 0.3));
            }

            a {
                text-decoration: none;
                color: #FFF;
                background: #FFA301;
                clip-path: polygon(0 100%, 0 2%, 100% 0, 100% 100%, 48% 73%);
                box-shadow:5px 5px 5px 6px #666;
                height: 5rem;
                padding-top: .5rem;
                padding-right: .3rem;
                padding-left: .3rem;
                &:hover {
                    color: #222;
                    background: #FFF;
                }
            }
        }
    }
}